<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Error</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  .alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>RI Debate Webpage</h1>
  <p>since 1886</p>
</div>

<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  Please login first
</div>

<p> Click here to login:<p>

<a href = "{{url_for('login')}}">Login here!</a>

<p> Click here to register:<p>

<a href = "{{url_for('register')}}">Register here!</a>

</nav>


  </div>
</div>


</body>
</html>
